# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/.nyc_output
/cypress/videos/
/cypress/screenshots/

# next.js
/.next/
/out/
/dist/
.cache/

# production
/build
storybook-static/

# misc
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
.project
.classpath
*.launch
.settings/

# PWA files
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map

# Temporary files
*.tmp
*.temp
.cache/
